<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{HH:mm:ss,SSS} %-5p [%4t] %-30.30c{3} %m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="patterntesting.tool" level="debug"/>
    <Logger name="patterntesting.tool.aspectj.XMLFormatterTest" level="info"/>
    <Root level="info" additivity="false">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>
