<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{HH:mm:ss,SSS} %-5p %-10.10t %-40.40c{3} %m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="patterntesting" level="info"/>
    <Logger name="patterntesting.concurrent.DeadLockLogger" level="debug"/>
    <Logger name="patterntesting.concurrent.RunBackgroundAspect" level="debug"/>
    <Logger name="patterntesting.concurrent.RunParallelAspect" level="debug"/>
    <Logger name="patterntesting.concurrent.junit" level="debug"/>
    <Logger name="patterntesting.concurrent.junit.internal" level="trace"/>
    <Root level="info" additivity="false">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>
